.workflow-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: map-get($colors, 'blue-dark');
  box-shadow: 0px 3px 80px 0 rgba(23, 24, 32, 0.2);
  padding: 30px 25px 30px 60px;
  @include media('<=desktop') {
    padding: 10px 15px;
  }
  @include media('<tablet') {
  }
  &__quantity {
    font-size: 18px;
    letter-spacing: 0.36px;
    color: map-get($colors, 'midnight-dark');
    margin-right: 40px;
    @include media('<tablet') {
      font-size: 16px;
      margin: 0 20px 5px 0;
    }
  }
  &__title {
    font-size: 18px;
    letter-spacing: 0.36px;
    color: map-get($colors, 'white');
    margin: 0 auto 0 0;
    @include media('<tablet') {
      font-size: 16px;
      margin: 0 auto 5px 0;
    }
  }
  &__container-select {
    @include media('<tablet') {
      margin-bottom: 5px;
    }
  }
  &__title-select {
    font-size: 16px;
    letter-spacing: 0.32px;
    color: map-get($colors, 'white');
    margin-right: 20px;
    @include media('<tablet') {
      font-size: 14px;
      margin-right: 10px;
    }
  }
  .custom-select {
    &__wrapper {
      color: map-get($colors, 'white');
    }
    &_styled {
      border: solid 1px rgba(map-get($colors, 'white'), 0.3);
      &.active {
        border-color: map-get($colors, 'white');
      }
      &:after {
        border-color: transparent map-get($colors, 'white')
          map-get($colors, 'white') transparent;
      }
    }
  }
}
