<header class="header">
  <button class="header__btn-sidebar">
    <span></span>
  </button>
  <a href="#" class="header__logo">
    <img src="assets/images/logo.svg" alt="">
  </a>
  <div class="header__user-panel">
    <button class="header__btn-add" type="button">Add</button>
    <button class="header__btn-search" type="button">
      <img src="assets/images/icon-search.svg" alt="">
    </button>
    <button class="header__btn-notices header__btn-notices_marked" type="button">
      <img src="assets/images/icon-bell.svg" alt="">
    </button>
    <button class="header__btn-user-list">
      <span class="header__image-holder">
        <img src="assets/images/user-photo.jpg" alt="">
      </span>
    </button>
  </div>
</header>