<section class="inbox-block">
  <div class="inbox-block__head">
    <h2 class="inbox-block__title">Inbox (<span class="inbox-block__number">2</span>)</h2>
  </div>
  <div class="inbox-block__wrapper custom-scroll">
    <div class="inbox-block__container">
      <div class="message-element message-element_new">
        <div class="message-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="message-element__content">
          <a href="#" class="message-element__sender-name">Michelle Stewart</a>
          <span class="message-element__date">Today, 5:32 PM</span>
          <a href="#" class="message-element__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusm.</a>
        </div>
      </div>
      <div class="message-element message-element_new">
        <div class="message-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="message-element__content">
          <a href="#" class="message-element__sender-name">Michelle Stewart</a>
          <span class="message-element__date">Today, 5:32 PM</span>
          <a href="#" class="message-element__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusm.</a>
        </div>
      </div>
      <div class="message-element message-element_new">
        <div class="message-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="message-element__content">
          <a href="#" class="message-element__sender-name">Michelle Stewart</a>
          <span class="message-element__date">Today, 5:32 PM</span>
          <a href="#" class="message-element__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusm.</a>
        </div>
      </div>
      <div class="message-element">
        <div class="message-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="message-element__content">
          <a href="#" class="message-element__sender-name">Michelle Stewart</a>
          <span class="message-element__date">Today, 5:32 PM</span>
          <a href="#" class="message-element__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusm.</a>
        </div>
      </div>
      <div class="message-element">
        <div class="message-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="message-element__content">
          <a href="#" class="message-element__sender-name">Michelle Stewart</a>
          <span class="message-element__date">Today, 5:32 PM</span>
          <a href="#" class="message-element__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusm.</a>
        </div>
      </div>


    </div>
  </div>
</section>