<section class="workflow-area custom-scroll">
  <div class="workflow-area__content">
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Quened</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Planning</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Design</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Development</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Testing</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Completed</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Supported</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">Not supported</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="workflow-column">
      <div class="workflow-column__head">
        <span class="workflow-column__title">In perspective</span>
        <span class="workflow-column__projects-quantity">1 project</span>
        <span class="workflow-column__prices-sum">$1500</span>
      </div>
      <ul class="workflow-column__projects-list">
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Wordpress theme</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
        <li class="project-element" data-price="1500">
          <div class="project-element__photo-holder">
            <img src="assets/images/user-photo.jpg" alt="">
          </div>
          <div class="project-element__content">
            <a href="#" class="project-element__title">Landing page</a>
            <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
          </div>
          <button class="project-element__menu">
            <span></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>