<section class="your-projects-block">
  <div class="your-projects-block__head">
    <h2 class="your-projects-block__title">Your projects</h2>
  </div>
  <div class="your-projects-block__wrapper custom-scroll">
    <div class="your-projects-block__container">
      <div class="project-element">
        <div class="project-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="project-element__content">
          <a href="#" class="project-element__title">Mobile App fsaegfseg asefsae ase</a>
          <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
        </div>
        <button class="project-element__menu">
          <span></span>
        </button>
      </div>
      <div class="project-element">
        <div class="project-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="project-element__content">
          <a href="#" class="project-element__title">Mobile App</a>
          <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
        </div>
        <button class="project-element__menu">
          <span></span>
        </button>
      </div>
      <div class="project-element">
        <div class="project-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="project-element__content">
          <a href="#" class="project-element__title">Mobile App</a>
          <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
        </div>
        <button class="project-element__menu">
          <span></span>
        </button>
      </div>
      <div class="project-element">
        <div class="project-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="project-element__content">
          <a href="#" class="project-element__title">Mobile App</a>
          <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
        </div>
        <button class="project-element__menu">
          <span></span>
        </button>
      </div>
      <div class="project-element">
        <div class="project-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="project-element__content">
          <a href="#" class="project-element__title">Mobile App</a>
          <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
        </div>
        <button class="project-element__menu">
          <span></span>
        </button>
      </div>
      <div class="project-element">
        <div class="project-element__photo-holder">
          <img src="assets/images/user-photo.jpg" alt="">
        </div>
        <div class="project-element__content">
          <a href="#" class="project-element__title">Mobile App</a>
          <div class="project-element__text">Symu.co<span class="project-element__price">$1500</span></div>
        </div>
        <button class="project-element__menu">
          <span></span>
        </button>
      </div>
    </div>
  </div>
</section>